
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #f0f0f5;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0f1e36;
    color: white;
}
.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.book-now {
    background-color: #ff7f50;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}


.hero {
    text-align: center;
    background-image: url('beach.jpg');
    background-size: cover;
    color: white;
    padding: 100px 20px;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.search-bar {
    display: inline-flex;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.search-bar input {
    padding: 10px;
    border: none;
    outline: none;
}
.search-bar button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.featured-destinations {
    text-align: center;
    padding: 50px 20px;
}
.destination-images img {
    width: 30%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.nav-cards {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff200;
    color: black;
    border: none;
    display: flex;        
    padding: 40px;
}
